<!DOCTYPE html>
<html>
<head>
  <title>VideoTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.12/video.js"></script>
</head>
<body>
Suixuntong mp4
<video id="example_video_1" class="video-js vjs-default-skin"
       controls preload="auto" width="640" height="264"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{"muteToggle":false}'>
  <source type="video/mp4" src="/videos/suixuntong.mp4">
  <source type="video/webm" src="/videos/suixuntong.webm">
  <source type="video/ogg" src="/videos/suixuntong.ogv">
</video>
<br />
<br />
Tencent News mp4
<video id="example_video_2" class="video-js vjs-default-skin"
       controls preload="auto" width="640" height="264"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{"muteToggle":false}'>
  <source type="video/mp4" src="/videos/1.mp4">
</video>
<br />
<br />
Video js mp4
<video id="example_video_3" class="video-js vjs-default-skin"
       controls preload="auto" width="640" height="264"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{"muteToggle":false}'>
  <source type="video/mp4" src="/videos/oceans.mp4">
</video>

<%= yield %>

</body>
</html>
